*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

/*=============== VARIABLES CSS ===============*/
:root {
    /*========== Colors ==========*/
    --first-color: #b70d21;
    --first-color-second: #d34253;
    --first-color-alt: #770512;
    --text-color: #9c9c9c;
    
    /*========== Font weight ==========*/
    --font-medium: 500;
    --font-semi-bold: 600;
  
    /*========== Margenes Bottom ==========*/
    --mb-0-25: .25rem;
    --mb-0-5: .5rem;
    --mb-0-75: .75rem;
    --mb-1: 1rem;
    --mb-1-25: 1.25rem;
    --mb-1-5: 1.5rem;
    --mb-2: 2rem;
    --mb-2-5: 2.5rem;
  
    /*========== z index ==========*/
    --z-tooltip: 10;
    --z-fixed: 100;
}

/* ========== GENERALES ========== */
.text-help{ 
    color: #979797;
    font-size: 12px;
}





/*========== SCROLL BAR ==========*/
html{
    scroll-behavior: smooth;
}
::-webkit-scrollbar{
    width: .60rem;
    background-color: #dcdcdc;
}

::-webkit-scrollbar-thumb{
    background-color: #979797;
}

::-webkit-scrollbar-thumb:hover{
    background-color: var(--first-color-second);
}









/* ======= Titulos de las secciones ======*/
.titulo-section_projects{
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: center;
    margin: 1.75rem auto;
    text-align: center;
}
.titulo-section_projects h2{
    font-weight: 600;
    color: #333;
    font-size: 32px;
}
.titulo-section_projects .linea{
    height: 2px;
    width: 120px;
    background: var(--first-color);
    margin: 0 1rem;
}








/* ========= NAVEGACION =========*/
.header-area{
    width: 100%;
    max-width: 100vw;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    padding-top: 1rem;
}
.cabecera-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.cabecera-header .centro{
    width: 36%;
    text-align: center;
}
.cabecera-header .centro img{
    width: 120px;
    object-fit: cover;
}
.cabecera-header .izquierda,
.cabecera-header .derecha
{
    width: 32%;
    height: 100%;
}
.cabecera-header .izquierda{
    text-align: right;
    border-right: 1px solid #dcdcdc;
    padding-left: 2.5rem;
}
.cabecera-header .derecha{
    border-left: 1px solid #dcdcdc;
    padding-right: 2.5rem;
}
.cabecera-header .izquierda .izquierda-arriba,
.cabecera-header .izquierda .izquierda-abajo,
.cabecera-header .derecha .derecha-arriba,
.cabecera-header .derecha .derecha-abajo{
    padding: .25rem .5rem;
    font-size: 13px;
    color: #979797;
}
.cabecera-header .izquierda .izquierda-arriba,
.cabecera-header .derecha .derecha-arriba{
    border-bottom: 1px solid #dcdcdc;
}
.cabecera-header a{
    color: #979797;
    text-decoration: none;
    transition: .3s;
}
.cabecera-header a:hover{
    color: var(--first-color);
}
.cabecera-header .derecha .derecha-arriba a i{
    padding: 0 .2rem;
    margin: 0 .2rem;
    font-size: 14px;
}
.grupo-input-header input,
.grupo-input-header button{
    border: none;
    outline: none;
    color: #979797;
    background: transparent;
}
.grupo-input-header button:hover{
    color: var(--first-color);
}
.btn-toggler{
    display: none;
    border: 1px solid #dcdcdc;
    border-radius: 8px;
    padding: .3rem .7rem;
    margin-right: 1.5rem;
    background: transparent;
    transition: .3s;
}
.btn-toggler i{
    font-size: 20px;
    line-height: 25px;
    color: #979797;
    transition: .3s;
}
.contendor-nav{
    border-top: 1px solid #dcdcdc;
    border-bottom: 1px solid #dcdcdc;
    width: 101%;
    padding: 0;
}
.nav-bar{
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: space-evenly;
    margin: 0;
}
.nav-item_bar{
    border-right: 1px solid #dcdcdc;
    padding: .5rem .75rem;
    width: 20%;
    text-align: center;
}
.nav-link_bar{
    font-weight: 600;
    color: #979797;
    text-decoration: none!important;
    transition: .3s;
    font-size: 17px;
}
.nav-link_bar i{
    display: none;
}
.nav-link_bar:hover{
    color: var(--first-color);
}
.nav-item_bar-none{
    display: none;
}
.grupo-input-header2 input,
.grupo-input-header2 button{
    border: 1px solid #fff;
    outline: none;
    color: #FFF;
    background: transparent;
    padding: .25rem .3rem;
}
.grupo-input-header2 button{
    padding: .25rem .55rem;
    border-left: none;
}
.grupo-input-header2 input::placeholder{
    color: #fff;
}
.grupo-input-header2 button:hover{
    color: var(--first-color);
}
.nav-item_bar-end{
    margin-top: 3rem;
    text-align: center!important;
}
.nav-item_bar-end a{
    margin: .5rem 1rem;
}
/*Menu Sticky*/
.contendor-nav-scroll{
    width: 101%;
    position: fixed;
    top: -100%;
    left: 0;
    height: 70px;
    transition: .2s;
    z-index: 999;
    background: #ffff;
    box-shadow: 0 -1px 6px rgba(0, 0, 0, .50);
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    padding: .25rem 5.5rem;
    align-items: center;
}
.contendor-nav-scroll-show{
    top: 0;
}
.img-nav-scroll{
    width: 100px;
    text-align: center;
}
.img-nav-scroll img{
    width: 68px;
    transition: .6s;
}
.img-nav-scroll img:hover{
    transform: scale(1.05);
}
.nav-bar-srcoll{
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    margin: 0;
    align-items: center;
}
.nav-item_bar-srcoll{
    padding: 0rem 1.5rem;
    text-align: center;
}
.nav-link_bar-srcoll{
    font-weight: 600;
    display: inline-block;
    position: relative;
    color: #333;
    text-decoration: none;
    padding: 0 4px;
    transition: all .5s;
}
.nav-link_bar-srcoll:before,
.nav-link_bar-srcoll:after{
    content: "";
    display: block;
    margin: auto;
    height: 2px;
    width: 0px;
    background: var(--first-color);
    transition: all .5s;
}
.nav-link_bar-srcoll:hover{
    text-decoration: none;
    color: var(--first-color);
}
.nav-link_bar-srcoll:hover:after,
.nav-link_bar-srcoll:hover:before {
    width: 100%;
}
/*Menu de page*/
.nav-bar-page{
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: flex-start;
    margin: 0;
    align-items: center;
}
@media screen and (max-width: 875px) {
    .contendor-nav-scroll{
        padding: .25rem 2.5rem;
    }
}
@media screen and (max-width: 800px) {
    .nav-item_bar-srcoll{
        padding: 0rem .5rem;
    }
}
@media screen and (max-width: 750px) {
    .contendor-nav-scrool,
    .contendor-nav-scroll-show{
        display: none!important;
    }
}
@media screen and (max-width: 750px) {
    .header-area{
        padding-top: 0rem;
    }
    .cabecera-header{
        box-shadow: 0 -1px 6px rgba(0, 0, 0, .50);
        position: fixed;
        background: #fff;
        width: 100%;
        z-index: 1000;
    }
    .cabecera-header .izquierda,
    .cabecera-header .derecha
    {
        display: none;
    }
    .cabecera-header .centro{
        width: 90%;
        text-align: left;
        padding-left: 1rem;
    }
    .cabecera-header .centro img{
        width: 66px;
        object-fit: cover;
    }
    .contendor-nav{
        top: 65px;
        left: 0;
        width: 60%;
        height: calc(100vh - 65px);
        position: fixed;
        background: rgb(55, 55, 55);
        padding: 1rem 1.5rem;
        transition: .5s;
        z-index: 1000;
    }
    .nav-bar,
    .nav-bar-page{
        flex-direction: column;
        border:none;
        justify-content: center;
    }
    .nav-item_bar-none,
    .btn-toggler{
        display: block;
    }
    .nav-link_bar i{
        display: inline;
        margin-right: .25rem;
    }
    .nav-item_bar{
        border: none;
        margin-bottom: .15rem;
        padding: .75rem;
        width: 100%;
        text-align: left;
    }
    .nav-link_bar{
        color: #FFF;
    }
}
@media screen and (max-width: 534px) {
    .grupo-input-header2 input{
        max-width: 150px;
    }
}
@media screen and (max-width: 427px) {
    .contendor-nav{
        padding: 1rem;
    }
    .nav-link_bar,
    .nav-item_bar-end a{
        font-size: 14px;
    }
    .grupo-input-header2 input,
    .grupo-input-header2 input::placeholder,
    .grupo-input-header2 button{
        font-size: 13px;
        font-weight: 300;
    }
}
@media screen and (max-width: 395px) {
    .contendor-nav{
        width: 75%;
    }
}
@media screen and (max-width: 316px) {
    .contendor-nav{
        padding: 1rem .5rem;
    }
}
@media screen and (max-width: 295px) {
    .contendor-nav{
        width: 80%;
    }
}
@media screen and (max-width: 276px) {
    .contendor-nav{
        padding: .75rem .3rem;
    }
}









/* =========== PRESENTACION ========*/
.home-section_page{
    max-width: 100vw;
    overflow: hidden;
    margin-top: 3px;
    background-color: #F6F0E4;
    height: 75vh;
}
.bg-mayor{
    width: 100%;
    height: 75vh;
    background-color: var(--first-color);     
}
.detalles-presentacion{
    width: 75%;
    margin: auto;
    padding: 1rem 0;
}
.title-presentacion{
    margin-bottom: 1.25rem;
    color: #fff;
    margin-top: 4.2rem;
}
.title-presentacion .subtitle{
    display: block;
    font-size: 14px;
    font-weight: 600;
    color: #222;
}
.title-presentacion h1{
    font-weight: 600;
    line-height: 55px;
}
.texto-presentacion{
    margin-bottom: 1.25rem;
}
.texto-presentacion p{
    color: #fff;
    font-weight: 300;
    margin: 0;
    font-size: 13px;
    line-height: 30px;
}
.botones-presentacion{
    padding: 1rem 0;
    width: 100%;
}
.btn-presentacion{
    text-decoration: none;
    color: #FFF;
    margin-right: 1rem;
    padding: .5rem 1rem;
    border: 1px solid #fff;
    transition: .3s;
}
.btn-presentacion i{
    display: inline-block;
    margin-left: 8px;
    transition: 1s;
}
.btn-presentacion:hover i{
    transform: translateX(5px);
}
.btn-presentacion:hover,
.btn-presentacion:hover i{
    color: #111;
}
.main-product-image{
    width: 100%;
    height: 75vh;
}
.main-product-image .contenedor-carrosel{
    margin-top: 4.2rem;
    width: 45vw;
    height: 57vh;
    right: 250px;
    overflow: hidden;
    position: relative;
    min-height: 57vh;
}
.main-product-image .contenedor-carrosel img{
    width: 100%;
    object-fit: cover;
    max-height: 57vh;
    min-height: 57vh;
}
.opciones-item-carrosel{
    position: absolute;
    bottom: 14px;
    left: 20px;
    background: #FFF;
    font-size: 14px;
    height: 35px;
    overflow: hidden;
}
.opciones-item-carrosel span{
    font-weight: 600;
    display: inline-block;
    padding: .5rem;
    color: #333;
}
.btn-presentacion_carrosel{
    background: var(--first-color);
    color: #fff;
    text-decoration: none;
    padding: .495rem 1rem;
    transition: .3s;
}
.btn-presentacion_carrosel i{
    transition: 1s;
}
.btn-presentacion_carrosel:hover i{
    transform: rotate(360deg);
    color: #FFF;
}
.carousel-control-prev-icon, .carousel-control-next-icon {
    background-color: rgb(49, 49, 49)!important;
    border-radius: 50%;
    padding: .5rem!important;
}
@media screen and (max-width: 1200px) {
    .main-product-image .contenedor-carrosel{
        right: 150px;
    }
    .detalles-presentacion{
        width: 70%;
    }
}
@media screen and (max-width: 991px) {
    .home-section_page{
        height: auto;
    }
    .bg-mayor{
        height: auto;  
    }
    .detalles-presentacion{
        width: 100%;
        text-align: center;
        padding: 1rem 0 2rem 0;
    }
    .title-presentacion{
        margin-top: 1rem;
    }
    .main-product-image{
        width: 100%;
        height: auto;
        padding: 0;
    }
    .main-product-image .contenedor-carrosel{
        margin: 2.25rem auto;
        width: 75vw;
        height: auto;
        right: 0px;
    }
}
@media screen and (max-width: 750px) {
    .bg-mayor{
        margin-top: 62px; 
    }
    .btn-presentacion_carrosel{
        padding: .5rem 1rem;
    }
}
@media screen and (max-width: 545px) {
    .detalles-presentacion{
        width: 100%;
        text-align: left;
        padding: .45rem 0 2rem 2rem;
    }
    .title-presentacion{
        margin-bottom: .5rem;
    }
    .title-presentacion .subtitle{
        font-size: 12px;
    }
    .title-presentacion h1{
        line-height: 35px;
        font-size: 28px;
    }
    .texto-presentacion{
        margin-bottom: .75rem;
    }
    .texto-presentacion p{
        font-size: 12px;
        line-height: 24px;
    } 
    .botones-presentacion{
        padding: .5rem 0;
    }
    .btn-presentacion{
        margin-right: .5rem;
        padding: .35rem .75rem;
        font-size: 13px;
    }
    .btn-presentacion i{
        margin-left: 4px;
    }
}
@media screen and (max-width: 510px) {
    .main-product-image .contenedor-carrosel{
        margin: 1.5rem auto;
        width: 90vw;
    }
}
@media screen and (max-width: 410px) {
    .main-product-image .contenedor-carrosel{
        margin: 1.25rem auto;
        width: 90vw;
        max-height: 40vh;
        min-height: 40vh;
    }
    .main-product-image .contenedor-carrosel img{
        max-height: 40vh;
        min-height: 40vh;
    }
}
@media screen and (max-width: 370px) {
    .main-product-image .contenedor-carrosel{
        margin: 0;
        width: 100vw;
    }
    .detalles-presentacion{
        padding: .45rem 0 1.25rem 1rem;
    }
    .title-presentacion h1{
        line-height: 32px;
        font-size: 26px;
    }
    .texto-presentacion{
        margin-bottom: .76rem;
    }
    .texto-presentacion p{
        font-size: 11px;
        line-height: 20px;
    } 
    .btn-presentacion{
        padding: .3rem .7rem;
        font-size: 12px;
    }
    .opciones-item-carrosel{
        left: 12px;
        font-size: 12px;
        height: 34px;
    }
    .btn-presentacion_carrosel{
        padding: .5rem .9rem;
        font-size: 13px;
    }
}
@media screen and (max-width: 310px) {
    .opciones-item-carrosel span{
        display: none;
    }
    .opciones-item-carrosel{
        left: 50px;
        height: 26px;
    }
}
@media screen and (max-width: 294px) {
    .texto-presentacion{
        display: none;
    } 
}











/* ========== NOSOTROS ========== */
.nosotros-section_page{
    padding: 2rem 0;
    width: 100%;
    overflow: hidden;
    background-color: #F6F0E4;
}
.nosotros-contenedor{
    padding: 4rem 0;
    width: 90%;
    margin: 0px auto;
    max-width: 1200px;
}
.nosotros-contenedor .nosotros-contenedor_info{
    padding-left: 90px;
    color: #979797;
    padding-bottom: 1rem;
}
.nosotros-contenedor .nosotros-contenedor_info h2{
    font-size: 16px;
    font-weight: 600;
    color: var(--first-color);
    margin-bottom: .5rem;
}
.nosotros-contenedor .nosotros-contenedor_info h1{
    font-weight: 600;
    font-size: 36px;
    margin-bottom: 1rem;
    color: #333;
}
.nosotros-contenedor .nosotros-contenedor_info p{
    font-size: 16px;
    line-height: 26px;
    margin: 0;
}
.nosotros-contenedor .nosotros-contenedor_info ul{
    margin: 2rem 0;
    padding: 0;
    list-style: none;
    font-size: 16px;
    margin-top: 1rem;
    line-height: 28px;
}
.nosotros-contenedor .nosotros-contenedor_info ul li i{
    margin-right: 10px;
    color: var(--first-color-second);
}
.nosotros-contenedor .nosotros-contenedor_info .boton-nosotros{
    background: var(--first-color);
    padding: 12px 26px;
    font-size: 16px;
    font-weight: 400;
    border: 1px solid transparent;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
    transition: .3s;
}
.nosotros-contenedor .nosotros-contenedor_info .boton-nosotros:hover{
    background: #F6F0E4;
    color: var(--first-color);
    border: 1px solid var(--first-color);
    text-decoration: none;
    font-weight: 600;
}
.about__img {
    display: flex;
    column-gap: 1rem;
    align-items: center;
    justify-content: center;
}
.about__img-overlay {
    overflow: hidden;
}  
.about__img-one {
    width: 130px;
}
.about__img-two {
    width: 180px;
}
.about__img-one, 
.about__img-two {
    transition: .3s;
    object-fit: cover;
}
.about__img-one:hover, 
.about__img-two:hover {
    transform: scale(1.1);
}
@media screen and (min-width: 992px) {
    .about__img-one {
      width: 220px;
    }
    .about__img-two {
      width: 280px;
    }
}
@media screen and (max-width: 991px) {
    .nosotros-section_page{
        background-color: #fff;
    }
    .flex-especial{
        flex-direction: column-reverse!important;
    }
    .nosotros-contenedor{
        width: 100%;
    }
    .nosotros-contenedor .nosotros-contenedor_info{
        padding-left: 0;
        margin-bottom: 3.25rem;
    }
    .nosotros-contenedor .nosotros-contenedor_info p{
        text-align: justify;
    }
}
@media screen and (max-width: 575px) {
    .nosotros-section_page{
        padding: 2rem 1.5rem;
    }
}
@media screen and (max-width: 380px) {  
    .nosotros-contenedor .nosotros-contenedor_info h2{
        font-size: 14px;
        margin-bottom: .35rem;
    }
    .nosotros-contenedor .nosotros-contenedor_info h1{
        font-size: 30px;
        margin-bottom: .8rem;
    }
    .nosotros-contenedor .nosotros-contenedor_info p{
        font-size: 13px;
        line-height: 25px;
        text-align: left;
    }
    .nosotros-contenedor .nosotros-contenedor_info ul{
        font-size: 14px;
        margin-top: .5rem;
        line-height: 26px;
    }
    .nosotros-contenedor .nosotros-contenedor_info .boton-nosotros{
        padding: 8px 18px;
        font-size: 13px;
    }
}








/* ========== PROYETOS ========== */
.proyectos-section_page{
    padding: 5rem 0;
    width: 100%;
    overflow: hidden;
    background-color: #FFF;
}
.contendor-proyectos{
    padding: 1rem 0;
    width: 90%;
    margin: 0px auto;
    max-width: 1100px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.item-proyecto{
    width: 320px;
    height: 420px;
    overflow: hidden;
    margin: .5rem;
}
.imagen-item_proyecto{
    width: 100%;
    height: 220px;
    overflow: hidden;
}
.imagen-item_proyecto img{
    width: 100%;
    object-fit: cover;
}
.detalles-item_proyecto{
    display: flex;
    justify-content: space-between;
    background: #e6e6e6;
    padding: .35rem .75rem;
}
.detalles-item_proyecto .detalle{
    font-size: 13px;
    font-weight: 600;
    color: #5e5e5e;
}
.texto-item_proyecto{
    padding: 1rem .75rem;
}
.texto-item_proyecto h3{
    font-size: 18px;
    color: #333;
    font-weight: 600;
    margin: 0;
    margin-bottom: .75rem;
}
.texto-item_proyecto p{
    color: #979797;
    font-size: 13px;
    font-weight: 300;
    margin: 0;
    margin-bottom: 1rem;
}
.cont-btn-item-proyecto{
    text-align: left;
    width: 100%;
}
.texto-item_proyecto a{
    color: var(--first-color);
    padding: .25rem;
    text-decoration: none;
    transition: .3s;
    font-weight: 600;
}
.texto-item_proyecto a:hover{
    color: var(--first-color-second)
}
.texto-item_proyecto a i{
    transition: .3s;
}
.texto-item_proyecto a:hover i{
    transform: translateX(4px);
}
@media screen and (max-width: 1200px) { 
    .proyectos-section_page{
        padding-top: 4rem;
        padding-bottom: 3rem;
    }
}
@media screen and (max-width: 618px) { 
    .titulo-section_projects{
        margin: 1.25rem auto;
        text-align: center;
    }
    .titulo-section_projects h2{
        font-size: 26px;
    }
    .titulo-section_projects .linea{
        width: 80px;
        margin: 0 .75rem;
    }
}
@media screen and (max-width: 545px) { 
    .proyectos-section_page{
        padding: 3.85rem 0;
        padding-bottom: 1rem;
    }
}
@media screen and (max-width: 375px) { 
    .contendor-proyectos{
        padding: .5rem 0;
        width: 100%;
    }
    .item-proyecto{
        width: 275px;
        height: 385px;
        margin: .75rem auto;
    }
    .imagen-item_proyecto{
        height: 180px;
    }
    .texto-item_proyecto h3{
        font-size: 16px;
        margin-bottom: .65rem;
    }
    .texto-item_proyecto p{
        font-size: 12px;
        margin-bottom: .75rem;
    }
    .texto-item_proyecto a{
        font-size: 13px;
    }
}









/* ========== SERVICIOS ========== */
.servicios-section_page{
    padding: 5.5rem 0;
    width: 100%;
    overflow: hidden;
    background-color: #FFF;
}
.bg-servicios{
    width: 100%;
    margin: 1rem 0;
    background: var(--first-color);
}
.contenedor-servicios{
    display: flex;
    max-width: 1000px;
    margin: 0 auto;
    justify-content: center;
    flex-wrap: wrap;
}
.item-servicio{
    padding: 2rem 1.75rem;
    color: #fff;
    width: 250px;
    height: 275px;
    transition: .3s;
}
.imagen-servicio{
    margin-bottom: 1.75rem;
}
.imagen-servicio img{
    transition: .75s;
}
.titulo-servicio{
    padding: 0;
    margin: 0;
    margin-bottom: .5rem;
}
.titulo-servicio h4{
    font-size: 20px;
    font-weight: 600;
}
.texto-servicio{
    padding: 0;
    margin: 0;
    margin-bottom: .5rem;
}
.texto-servicio p{
    font-size: 13px;
    font-weight: 300;
    text-align: justify;
}
.item-servicio:hover{
    background: #fff;
}
.item-servicio:hover h4{
    color: var(--first-color)!important;
}
.item-servicio:hover p{
    color: #5e5e5e!important;
}
.item-servicio:hover img{
    transform: rotate(360deg);
}
@media (max-width: 991px) {
    .servicios-section_page{
        padding-top: 4rem;
        padding-bottom: 2rem;
    }
}






/* =========== CONTACTO ==========*/
.contacto-section_page{
    width: 100%;
    margin-bottom: 4rem;
    overflow: hidden;
    background-color: #FFF;
    padding-top: 4rem;
}
.form-2 {
	padding-top: 1.5rem;
	padding-bottom: 6.25rem;
}
.form-2 .list-unstyled {
	margin-bottom: 3.75rem;
	font-size: 1rem;
	line-height: 1.5rem;
	text-align: center;
}
.form-2 .list-unstyled a{
    color: var(--first-color); 
    transition: .3s;   
}
.form-2 .list-unstyled a:hover{
    color: #111;    
}
.form-2 .list-unstyled .fas,
.form-2 .list-unstyled .fab {
	margin-right: 0.5rem;
	font-size: 0.875rem;
	color: var(--first-color);
}

.form-2 .list-unstyled .fa-phone {
	vertical-align: 3%;
}

.form-2 .map-img {
	overflow: hidden;
    width: 90%;
    margin: auto;
	border-radius: 0.25rem;
    margin-bottom: 2rem;
}

.form-2 .map-img img {
	width: 100%;
	height: 100%;
}
@media (max-width: 1200px) {
    .contacto-section_page{
        padding-top: 2.5rem;
        padding-bottom: 0;
    }
}
@media (max-width: 545px) {
    .contacto-section_page{
        padding-top: 4rem;
        margin-bottom: 0rem;
    }
    .form-2 {
        padding-bottom: 1.25rem;
    }
}
@media (min-width: 768px) {
	.form-2 .list-unstyled li {
		display: inline-block;
		margin-right: 0.5rem;
		margin-left: 0.5rem;
	}

	.form-2 .list-unstyled .address {
		display: block;
	}
}
@media (min-width: 1200px) {
	.form-2 #contactForm {
		max-width: 31rem;
		margin-right: auto;
		margin-left: auto;
	}
}
.form-group {
	margin-bottom: 1.25rem;
}
.form-control-input {
	display: block; 
	width: 100%;
	padding-top: .75rem;
	padding-bottom: .75rem;
	padding-left: 1.3125rem;
	border: 1px solid #a1a1a1;
	border-radius: 0.25rem;
	background-color: #fff;
	color: #626262;
	transition: all 0.2s;
    font-weight: 300;
    font-size: 14px;
	-webkit-appearance: none; 
}
.form-control-textarea {
	display: block; /* used to eliminate a bottom gap difference between Chrome and IE/FF */
	width: 100%;
	height: 8rem;
	padding-top: .75rem;
	padding-bottom: .75rem;
	padding-left: 1.3125rem;
	border: 1px solid #a1a1a1;
	border-radius: 0.25rem;
	background-color: #fff;
	color: #626262;
    font-weight: 300;
    font-size: 14px;
	transition: all 0.2s;
}
.form-control-input:focus,
.form-control-textarea:focus {
	border: 1px solid var(--first-color);
	outline: none; 
}
.form-control-input:hover,
.form-control-textarea:hover {
	border: 1px solid var(--first-color);
}
.checkbox {
	font-size: 12px;
    font-weight: 300;
}
input[type='checkbox'] {
	vertical-align: -15%;
	margin-right: 0.375rem;
}
@media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {  
	input[type='checkbox'] {
		vertical-align: -9%;
	}
}
.form-control-submit-button {
	display: inline-block;
	width: 100%;
	height: 3.125rem;
	border: 1px solid var(--first-color);
	border-radius: 1.5rem;
	background-color: var(--first-color);
	color: #fff;
	font-size: 14px;
    font-weight: 600;
	cursor: pointer;
	transition: all 0.2s;
}
.form-control-submit-button:hover {
	background-color: transparent;
	color: var(--first-color);
}
.error-form-contacto{
    font-size: 12px;
    color: red;
}


















/* ========== FOOTER ========== */
footer{
    margin-top: 10rem;
    max-width: 100vw;
    overflow: hidden;
}
.bg-footer img{
    width: 100%;
    object-fit: cover;
}
.contenedor-footer{
    margin: -10px;
    background-color: #000;
    padding: 2rem;
    padding-bottom: var(--mb-1);
    color: #fff;
}
.content-footer{
    display: flex;
    justify-content: space-evenly;
    padding-bottom: var(--mb-2-5);
}
.col-footer{
    width: 25%;
    padding: 0 1.5rem;
}
.col-footer h3{
    font-size: 16px;
    font-weight: 600;
    margin: 0;
    margin-bottom: var(--mb-0-75);
    text-transform: uppercase;
}
.col-footer p{
    font-size: 14px;
    color: rgb(218, 218, 218);
    margin: 0;
    margin-bottom: var(--mb-0-5);
    font-weight: 300;
}
.item-contacto_footer{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: var(--mb-0-75);
}
.icono-contacto_footer{
    display: block;
    font-size: 16px;
    margin-right: var(--mb-0-5);
}
.details-contacto_footer{
    font-size: 14px;
    letter-spacing: .85px;
    font-weight: 300;
    color: rgb(218, 218, 218);
}
.col-footer ul{
    padding: 0;
}
.col-footer ul li{
    list-style: none;
    margin-bottom: var(--mb-0-5);
    font-size: 13px;
    font-weight: 300;
    padding: 0;
}
.col-footer ul li a{
    color: rgb(218, 218, 218);
    text-decoration: none;
    border-bottom: 1px solid transparent;
    transition: .4s;
}
.col-footer ul li::before{
    content: ">";
    margin-right: var(--mb-0-5);
}
.col-footer ul li a:hover{
    border-color: var(--first-color);
    color: var(--first-color);
}
.input-suscribete_footer{
    margin-top: var(--mb-1-5);
    display: flex;
}
.input-suscribete_footer input{
    border: none;
    outline: none;
    background: var(--first-color-second);
    width: 80%;
    color: #fff;
    font-weight: 200;
    padding: .5rem;
    border-radius: 2px 0 0 2px;
}
.input-suscribete_footer input::placeholder{
    color: #fff;
    letter-spacing: 1px;
    font-size: 12px;
}
.input-suscribete_footer button{
    width: 20%;
    border: none;
    outline: none;
    background: var(--first-color);
    color: #fff;
    padding: .5rem;
    border-radius: 0 2px 2px 0;
    transition: .4s;
}
.input-suscribete_footer button:hover{
    background: var(--first-color-alt);
}
.social-footer{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1.75rem 0 3.5rem 0;
}
.linea-footer{
    width: 150px;
    height: 1px;
    background: rgb(218, 218, 218);
    margin: 0 1.5rem;
}
.details-icons_footer{
    display: flex;
    justify-content: space-between;
}
.details-icons_footer a{
    padding: .48rem .75rem;
    background: var(--first-color-alt);
    border: 1px solid var(--first-color-alt);
    margin: 0 .25rem;
    border-radius: 50%;
    font-size: 14px;
    display: block;
    transition: .3s;
    color: #fff;
}
.details-icons_footer a:hover{
    border-color: #fff;
    color: #fff;
}
.logo-footer{
    width: 12%;
    margin: 1rem auto;
    overflow: hidden;
}
.logo-footer img{
    width: 100%;
    object-fit: cover;
    border-radius: 20px;
}
.derechos-footer{
    width: 100%;
    text-align: center;
    font-size: 12px;
    padding-bottom: 2rem;
}
@media screen and (max-width: 950px) {
    .content-footer{
        flex-wrap: wrap;
    }
    .col-footer{
        width: 40%;
        margin-bottom: var(--mb-0-75);
    }
}
@media screen and (max-width: 750px) {
    .logo-footer{
        width: 150px;
    }
}
@media screen and (max-width: 545px) {
    .contenedor-footer{
        margin: -8px;
        padding-left: 0;
    }
    .content-footer{
        flex-wrap: wrap;
        padding-bottom: var(--mb-2-5);
    }
    .col-footer{
        width: 80%;
        margin-bottom: var(--mb-1);
        padding-bottom: var(--mb-0-5);
    }
    .input-suscribete_footer{
        width: 85%;
    }
    .social-footer{
        margin: 0;
        width: 100%;
        margin-left: 1rem;
        margin-bottom: 2rem;
    }
    .linea-footer{
        display: none;
    }
}












/* ======== 404 ==========*/
.section-404{
    max-width: 100vw;
    background-color: #F6F0E4;
    overflow: hidden;
}
.container-404{
    width:100vw;
    height:100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Poppins", sans-serif;
    position: relative;
    left:6vmin;
    text-align: center;
}
.cog-wheel1, .cog-wheel2{
    transform:scale(0.7);
    z-index: 2;
}
.cog1, .cog2{
    width:40vmin;
    height:40vmin;
    border-radius:50%;
    border:6vmin solid #f3c623;
    position: relative;
}
.cog2{
    border:6vmin solid #4f8a8b;
}
.top, .down, .left, .right, .left-top, .left-down, .right-top, .right-down{
    width:10vmin;
    height:10vmin;
    background-color: #f3c623;
    position: absolute;
}
.cog2 .top,.cog2  .down,.cog2  .left,.cog2  .right,.cog2  .left-top,.cog2  .left-down,.cog2  .right-top,.cog2  .right-down{
    background-color: #4f8a8b;
}
.top{
    top:-14vmin;
    left:9vmin;
}  
.down{
    bottom:-14vmin;
    left:9vmin;
} 
.left{
    left:-14vmin;
    top:9vmin;
} 
.right{
    right:-14vmin;
    top:9vmin;
}  
.left-top{
    transform:rotateZ(-45deg);
    left:-8vmin;
    top:-8vmin;
}  
.left-down{
    transform:rotateZ(45deg);
    left:-8vmin;
    top:25vmin;
}  
.right-top{
    transform:rotateZ(45deg);
    right:-8vmin;
    top:-8vmin;
}  
.right-down{
    transform:rotateZ(-45deg);
    right:-8vmin;
    top:25vmin;
}  
.cog2{
    position: relative;
    left:-10.2vmin;
    bottom:10vmin;
}    
.first-four{
    position: relative;
    left:6vmin;
    font-size:40vmin;
    color:var(--first-color);
}  
.second-four{
    position: relative;
    right:18vmin;
    font-size:40vmin;
    color: var(--first-color-second);
    z-index: 1;
}  
.contet-btn-404{
    position: absolute;
    bottom:15vmin;
    padding:3vmin 12vmin 3vmin 3vmin;
}
.btn-404{
    color: var(--first-color);
    border: 1px solid var(--first-color);
    padding: .5rem .75rem;
    text-decoration: none;
    margin: 0 .5rem;
    transition: .3s;
}
.btn-404 i{
    transition: 2s;
}
.btn-404:hover i,
.btn-404:hover{
    transform: rotate(360deg);
    color: var(--first-color);
}
@media screen and (max-width: 280px) {
    .contet-btn-404{
        padding: 0rem;
    }
    .btn-404{
        font-size: 14px;
        padding: .25rem .5rem;
    }
}





/* ============ BOTON - UP ========== */
.scrollup{
    position: fixed;
    right: 1rem;
    bottom: -20%;
    background-color: var(--first-color);
    padding: 0 .45rem;
    border-radius: 50%;
    z-index: 999;
    transition: .4s;
    border: 2px solid #fff;
}

.scrollup:hover{
    border: 2px solid var(--first-color-alt);
    background: #fff;
    color: var(--first-color-alt);
}

.scrollup:hover .scrollup__icon{
    color: var(--first-color-alt);
}

.scrollup__icon{
    font-size: 1.5rem;
    color: #fff;
    transition: .4s;
}

/* Show scroll */
.show-scroll{
    bottom: 5rem;
}








/* ============ BOTON CONTACTEME - UP ========== */
.contactame::after, .contactame::before {
    position: absolute;
    content: "";
    transition: all 0.5s;
}
.contactame {
    display: inline-block;
    padding: 10px 20px;
    color: white;
    position: fixed;
    right: -5rem;
    bottom: .5rem;
    transform: translate(-50%, -50%);
    vertical-align: middle;
    text-decoration: none;
    font-size: 14px;
    font-weight: 600;
    transition: all 0.5s;
    background-color: var(--first-color-second);
    border: none;
    outline: none;
}
.contactame::before {
    bottom: -10px;
    height: 10px;
    width: 100%;
    left: 5px;
    transform: skewX(45deg);
    background-color: var(--first-color-alt);
}
.contactame::after {
    right: -10px;
    height: 100%;
    width: 10px;
    bottom: -5px;
    transform: skewY(45deg);
    background-color: var(--first-color);
}
/*Modal*/
.content-1-form{
    margin: 1.5rem 0;
    overflow: hidden;
}
.title-modal-form-step{
    font-size: 16px;
    color: #181c32;
    font-weight: 600;
    text-align: center;
    margin-bottom: 2rem;
}
.content-1-form form{
    width: 95%;
    margin: 0 auto;
    margin-left: 1.15rem;
}
.margen-0{
    width: 90%!important;
    margin: 0 auto!important;
}
.content-1-form input,
.content-1-form select{
    padding: .75rem .5rem;
    border: none;
    outline: none;
    background-color: #fff;
    border: 1px solid var(--first-color);
    margin: .5rem 0;
    color: #5e5e5e;
    font-weight: 300;
}
.btn-pin{
    width: 95%;
    padding: .75rem 0;
    border: none;
    outline: none;
    background-color: var(--first-color-second);
    border: 1px solid var(--first-color-second);
    margin: .5rem 0;
    margin-left: .75rem;
    color: #FFF;
    font-weight: 600;
}
.w-95{
    width: 97%!important;
}
.content-1-form input::placeholder{
    color: var(--text-color);
    font-weight: 300;
}
#progressbar-step-form{
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
.linea-step{
    width: 60px;
    height: 2px;
    background: #979797;
}
#progressbar-step-form li{
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 50%;
    border: 1px solid var(--first-color);
    color: var(--first-color);
    background: #fff;
    font-size: 16px;
    font-weight: 600;
}
#progressbar-step-form span{
    display: inline-block;
}
#progressbar-step-form li i{
    display: none;
}
.active-step-form{
    border-color: #979797!important;
}
.active-step-form i{
    display: inline!important;
    color: #979797!important;
}
.active-step-form span{
    display: none!important;
}
@media screen and (max-width: 767px) {
    .content-1-form input,
    .content-1-form select{
        width: 100%;
    }
    .w-95{
        width: 100%!important;
    }
    .content-1-form form{
        width: 90%;
        margin: 0 auto!important;
    }
}
@media screen and (max-width: 450px) {
    .content-1-form input,
    .content-1-form select,
    .btn-pin{
        padding: .5rem;
        font-size: 13px;
    }
    .title-modal-form-step{
        font-size: 14px;;
        margin-bottom: 1.25rem;
    }
}
@media screen and (max-width: 328px) {
    .content-1-form form{
        width: 98%
    }
    .margen-0{
        width: 98%!important;
    }
    .btn-pin{
        margin-left: .25rem;
        font-size: 12px;
    }
}










/* ============ LOGIN ============*/
.content-login {
    padding-top: 5rem; 
    height: 100vh;
    overflow: hidden;
    background-color: #F6F0E4;
}
.content-login .contents{
    width: 50%; 
    padding-top: 2.5rem;
}
.img-login{
    width: 100%;
    object-fit: cover;
}
@media (max-width: 991px) {
    .content-login {
        height: 100%;
        padding: 2.5rem 0; 
    }
    .content-login .contents{
        width: 100%; 
    } 
    .img-login{
        width: 160px;
        margin: 0 auto;
    }
    .contenedor-imagen-login{
        justify-content: center;
        display: flex;
    }
}
.content-login .contents h3{
    color: var(--first-color);
    font-weight: 600;
}
.content-login .contents p{
    font-size: 13px;
    font-weight: 300;
}
.content-login .contents .form-group {
    overflow: hidden;
    margin-bottom: 0;
    padding: 25px 15px;
    border-bottom: none;
    position: relative;
    background: #fff;
    border-bottom: 1px solid #e6edf1; 
}
.content-login .contents .form-group label {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease; 
}
.content-login .contents .form-group input {
    background: transparent; 
}
.content-login .contents .form-group.first {
    border-top-left-radius: 7px;
    border-top-right-radius: 7px; 
}
.content-login .contents .form-group.last{
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px; 
}
.content-login .contents .form-group label {
    font-size: 12px;
    display: block;
    margin-bottom: 0;
    color: #b3b3b3; 
}
.content-login .contents .form-group.focus{
    background: #fff; 
}
.content-login .contents .form-group.field--not-empty label{
    margin-top: -20px; 
    padding: .75rem 0;
}
.content-login .contents .form-control{
      border: none;
      padding: 0;
      font-size: 20px;
      border-radius: 0; 
}
.content-login .contents .form-control:active, 
.content-login .contents .form-control:focus{
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none; 
}
.content-login a {
    color: #888;
    text-decoration: underline; 
}
.content-login .btn {
    height: 54px;
    padding-left: 30px;
    padding-right: 30px; 
}
.social-login a {
    text-decoration: none;
    text-align: center;
    color: #fff;
    padding: .5rem .75rem;
    border-radius: 50%;
    display: inline-block; 
    margin: 0 1px;
}
.social-login a:hover {
    color: #fff; 
}
.social-login a.facebook {
    background: #3b5998; 
}
.social-login a.facebook:hover {
    background: #344e86; 
}
.social-login a.twitter {
    background: #1da1f2; 
}
.social-login a.twitter:hover {
    background: #0d95e8; 
}
.social-login a.google {
    background: #ea4335; 
}
.social-login a.google:hover {
    background: #e82e1e; 
}
.btn-login{
    background-color: var(--first-color)!important;
    color: #fff!important;
    width: 100%;
}
.regresar a:hover{
    color: var(--first-color);
    transition: .3s;
}
.input-font{
    color: #5e5e5e!important;
    font-size: 13px!important;
    font-weight: 300!important;
}
















/* ======================= Page ====================*/
.main-page{
    background: #eef0f8;
    padding: 2rem;
    width: 100%;
    overflow: hidden;
}
@media (max-width: 1015px) {
    .main-page{
        padding: 2.5rem 1rem;
    }
}
@media (max-width: 750px) {
    .main-page{
        margin-top: 60px;
    }
}
@media (max-width: 650px) {
    .main-page{
        padding: 1rem .5rem;
    }
}
@media (max-width: 320px) {
    .main-page{
        padding: 0;
        padding-top: .5rem;
    }
}
.contenedor-two-page{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
}
@media (max-width: 1250px) {
    .contenedor-two-page{
        flex-direction: column;
    }
}





/*==== PRESENTACION =====*/
.presentacion-page-section{
    background-color: #fff;
    padding: 2.5rem;
}
.contenedor-proyecto{
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
}
.contenedor-proyecto img{
    width: 160px;
    object-fit: cover;
    border-radius: .25rem;
}
.detalles-proyecto{
    display: flex;
    justify-content: space-evenly;
    padding: 0 0 0 2rem ;
}
.texto-proyecto h2{
    color: #181c32;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: .35rem;
}
.texto-proyecto h2 i{
    color: var(--first-color);
}
.texto-proyecto ul{
    display: flex;
    list-style: none;
    padding: 0;
    margin-bottom: 1rem;
}
.texto-proyecto ul li{
    color: #b5b5c3;
    font-size: 14px;
    line-height: 19.5px;
    font-weight: 600;
    margin-right: 2.5rem;
}
.texto-proyecto p{
    color: #7e8299;
    font-size: 14px;
    line-height: 19.5px;
    margin: 0;
    font-weight: 400;
}
.fotter-texto-proyecto{
    display: flex;
    width: 100%;
    justify-content: flex-start;
    align-items: center;
    margin-top: .5rem;
}
.fotter-texto-proyecto .item-fotter{
    padding: 0;
    margin-right: 2rem;
}
.fotter-texto-proyecto .item-fotter h6{
    font-size: 14px;
    color: #3f4254;
    margin: 6px 0;
    font-weight: 600;
}
.fotter-texto-proyecto .item-fotter .button-etapa{
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    background: #ffe2e5;
    color: #f64e60;
    border-radius: 5px;
    width: 100px;
    font-size: 13.5px;
    padding: .5rem 0;
}
.fotter-texto-proyecto .item-fotter .button-area{
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    background: #e1f0ff;
    color: #3699ff;
    border-radius: 5px;
    width: 100px;
    font-size: 13.5px;
    padding: .5rem 0;
}
.fotter-texto-proyecto .item-fotter .progress {
    background-color: #d8d8d8;
	border-radius: 20px;
	position: relative;
	height: 8px;
	width: 300px;
    margin: 5px 0;
}
.fotter-texto-proyecto .item-fotter .progress-done {
	background: #1bc5bd;
	border-radius: 20px;
	color: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	width: 0;
	opacity: 0;
	transition: 1s ease 0.3s;
}
.botones-proyecto{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 2rem;
}
.btn-proyecto{
    margin: .75rem auto;
    width: 120px;
    text-align: center;
}
.btn-plano-proyecto,
.btn-imagen-proyecto{
    border: none;
    outline: none;
    width: 100%;
    text-align: center;
    padding: .5rem 0;
    border-radius: 5px;
    font-size: 13px;
    font-weight: 600;
    transition: .3s;
}
.btn-plano-proyecto{
    background: #c9f7f5;
    color: #1bc5bd;
}
.btn-imagen-proyecto{
    background: var(--first-color-second);
    color: #fff;
}
.btn-plano-proyecto:hover{
    background: #1bc5bd;
    color: #fff;
}
.btn-imagen-proyecto:hover{
    background-color: var(--first-color);
}
@media (max-width: 1100px) {
    .presentacion-page-section{
        padding: 2.5rem 1.5rem;
        overflow: hidden;
    }
    .botones-proyecto{
        padding: 0 .5rem;
    }
}
@media (max-width: 991px) {
    .detalles-proyecto{
        flex-direction: column;
    }
    .botones-proyecto{
        flex-direction: row;
    }
    .btn-proyecto{
        margin: 1.5rem .5rem;
        margin-bottom: 0;
    }
}
@media (max-width: 845px) {
    .contenedor-proyecto{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
    }
    .contenedor-proyecto img{
        margin-bottom: 1rem;
    }
    .detalles-proyecto{
        padding: 0;
    }
    .fotter-texto-proyecto{
        margin: 1rem 0;
    }
}
@media (max-width: 650px) {
    .presentacion-page-section{
        padding: 1.25rem;
        width: 100%;
    }
    .texto-proyecto ul{
        flex-direction: column;
    }
    .texto-proyecto ul li{
        margin: .25rem 0;
    }
    .fotter-texto-proyecto{
        flex-wrap: wrap;
    }
    .fotter-texto-proyecto .item-fotter{
        margin: .5rem;
        margin-left: 0;
    }
}
@media (max-width: 380px) {
    .contenedor-proyecto img{
        width: 140px;
    }
    .texto-proyecto h2{
        font-size: 16px;
    }
    .texto-proyecto ul {
        margin-bottom: .35rem;
    }
    .texto-proyecto ul li,
    .texto-proyecto p,
    .fotter-texto-proyecto .item-fotter h6{
        font-size: 12px;
    }
    .fotter-texto-proyecto{
        margin-top: .15rem;
        margin-bottom: 0;
    }
    .fotter-texto-proyecto .item-fotter .progress {
        height: 6px;
        width: 250px;
    }
}
@media (max-width: 320px) {
    .presentacion-page-section{
        padding: 1.25rem 1rem;
    }
    .fotter-texto-proyecto{
        flex-direction: column;
        align-items: flex-start;
    }
    .btn-plano-proyecto,
    .btn-imagen-proyecto{
        padding: .5rem 0;
        font-size: 12px;
    }
}


/*==== LOTES =====*/
.contenedor-section-lotes-page{
    width: 55vw;
    padding: 1rem 0;
    margin-top: .5rem;
}
.lista-lotes-page{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}
.item-lotes-page{
    background: #fff;
    width: 220px;
    overflow: hidden;
    margin-bottom: 1.25rem;
    transition: .5s;
}
.item-lotes-page:hover{
    transform: translateY(-3px);
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
}
.item-lotes-page h4{
    width: 100%;
    padding: .5rem 1rem;
    border-bottom: 1px solid #dcdcdc;
    color: #181c32;
    font-size: 16px;
    font-weight: 600;
}
.item-lotes-page h4 i{
    display: none;
}
.item-lotes-page p{
    width: 100%;
    padding: .25rem 1rem;
    margin: 0;
    font-size: 13px;
    color: #7e8299;
}
.item-lotes-page ul{
    list-style: none;
    margin: .35rem 0;
    flex-wrap: wrap;
}
.item-lotes-page ul li{
    color: #b5b5c3;
    font-size: 14px;
    line-height: 19.5px;
    padding: 0 1rem;
    margin-bottom: .25rem;
}
.content-btns-item-lote{
    width: 100%;
    padding: 1rem 0;
    border-top: 1px solid #dcdcdc;
    text-align: center;
    margin-top: 1rem;
}
.content-btns-item-lote button{
    border: none;
    outline: none;
    text-align: center;
    padding: .25rem .75rem;
    border-radius: 5px;
    font-size: 13px;
    font-weight: 600;
    transition: .3s;
    margin: 0 .15rem;
    background: #c9f7f5;
    color: #1bc5bd;
}
.content-btns-item-lote button:hover{
    background: #1bc5bd;
    color: #fff;
}

.resoruces-page{
    margin-top: 1.5rem;
}
.resoruces-page li a{
    font-size: 15px;
    transition: .3s;
}
.resoruces-page li a:hover{
    color: var(--first-color-second)!important;
}
.content-resource{
    border: 1px solid #dcdcdc;
    background: #fff;
    border-top: none;
    padding: 2rem;
}
.iframe-yt{
    width: 100%;
}

@media (max-width: 1250px) {
    .contenedor-section-lotes-page{
        width: 100%;
        padding: .75rem 0;
    }
    .item-lotes-page{
        margin-bottom: 1.25rem;
        margin-right: .5rem;
    }
}
@media (max-width: 715px) {
    .lista-lotes-page{
        justify-content: space-evenly;
    }
    .item-lotes-page{
        width: 280px;
    }
}
@media (max-width: 595px) {
    .item-lotes-page{
        width: 250px;
    }
}
@media (max-width: 471px) {
    .lista-lotes-page{
        flex-direction: column;
    }
    .item-lotes-page{
        width: 100%;
    }
    .item-lotes-page h4{
        padding: .5rem 1.25rem;
        font-size: 14px;
    }
    .item-lotes-page h4 i{
        display: inline-block;
        color: var(--first-color);
        font-size: 12px;
    }
    .item-lotes-page p{
        padding: .25rem 1.25rem;
        font-size: 12px;
    }
    .item-lotes-page ul{
        display: flex;
        justify-content: space-around;
        padding: 0;
    }
    .item-lotes-page ul li{
        font-size: 13px;
        padding: 0;
        margin-bottom: .15rem;
    }
    .content-btns-item-lote{
        padding:.5rem 0;
    }
    .content-btns-item-lote button{
        padding: .5rem;
        font-size: 12px;
        margin: 0;
    }
    .resoruces-page li a{
        font-size: 12px;
    }
    .resoruces-page{
        margin-top: .8rem;
    }
    .iframe-yt{
        height: 250px;
        object-fit: cover;
    }
    .content-resource{
        padding: 1rem;
    }
}
@media (max-width: 320px) {
    .item-lotes-page{
        width: 95%;
        margin: .5rem auto;
    }
}



/*==FOTMULARIO CONTACTO LOTE===*/
.contenedor-section-frm-page{
    width: 39.7vw;
    margin-top: 1.5rem;
    padding-left: 2.5rem;
}
.content-frm-lote{
    background: #fff;
    padding: 2rem;
    overflow: hidden;
}
.content-frm-lote h3{
    font-size: 19px;
    font-weight: 600;
    padding-bottom: 2px;
    border-bottom: 2px solid var(--first-color);
    margin-bottom: 1.5rem;
    color: #181c32;
}
.content-frm-lote label{
    font-size: 13.5px;
    color: #7e8299;
    font-weight: 600;
    margin-bottom: 0;
}
.btn-enviar-form-page{
    border: none;
    outline: none;
    background-color: var(--first-color);
    color: #fff;
    width: 100%;
    display: block;
    padding: .5rem 0;
    transition: .3s;
    border: 1px solid transparent;
}
.btn-enviar-form-page:hover{
    border: 1px solid var(--first-color);
    background: #fff;
    color: var(--first-color);
}

.contenedor-section-img-page{
    width: 39.7vw;
    margin: 2rem 0;
    text-align: center;
}
.contenedor-section-img-page img{
    transition: 2s;
}
.contenedor-section-img-page img:hover{
    transform: rotate(360deg);
}
@media (max-width: 1250px) {
    .contenedor-section-frm-page{
        width: 100%;
        margin: 0;
        padding: 0;
        margin-top: 1rem;
        display: flex;
    }
    .contenedor-section-img-page{
        width: 50vw;
    }
    .contenedor-section-img-page img{
        width: 360px;
        margin: 2rem auto;
    }
}
@media (max-width: 769px) {
    .contenedor-section-frm-page{
        flex-direction: column;
    }
    .contenedor-section-img-page{
        display: none;
    }
}
@media (max-width: 395px) {
    .multiselect-page{
        font-size: 12px!important;
    }
    .content-frm-lote h3{
        font-size: 16px;
    }
    .content-frm-lote label{
        font-size: 12px;
    }
    .text-help{ 
        font-size: 10px;
    }
    
}




/*= More Proyectos =*/
.section-more-proyectos{
    margin: 0 auto;
    margin-top: 3.5rem;
    max-width: 1200px;
}
.section-more-proyectos h5{
    font-size: 20px;
    color: #181c32;
    font-weight: 600;
    padding-bottom: 3px;
    border-bottom: 2px solid var(--first-color);
    margin: 0;
}
.content-more-proyectos{
    display: flex;
    justify-content: flex-start;
    margin-top: 1.5rem;
    flex-wrap: wrap;
}
@media (max-width: 1200px) {
    .section-more-proyectos{
        margin-top: 3.5rem;
        width: 100%;
        padding: 0 2rem;
    }
    .content-more-proyectos{
        justify-content: space-evenly;
    }
}
@media (max-width: 380px) {
    .section-more-proyectos h5{
        font-size: 16px;
    }
}
@media (max-width: 320px) {
    .section-more-proyectos{
        margin-top: 1rem;
    }
}